.card-image {
    position: relative;
}

.card-img {
    object-fit: cover;
    height: 280px;
}

.card-btn {
    width: 100%;
    margin-bottom: 15px;
    background-color: darkblue;
}

.card {
    min-height: 45rem;
}
.card-btn-box {
    text-align: center;
    padding: 10px;
}