.skills-section {
    display: block;
    margin: 50px 0;

}
.wrapper {
    margin: 0 auto;
    max-width: a;
}

.skills-item {
    text-align: center;
}
.skills-icon {
    font-size: 70px;
}
.skills-heading {
    margin: 30px 0;
}
.skill-row {
    justify-content: center;
    padding-bottom: 10px;
}